<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        bean的作用域：
            scope="singleton" 单例
                单例模式下，bean生命周期处了销毁是在ioc容器关闭时执行，其他都在容器创建时就执行完毕了
            scope="prototype" 多例
                多例模式下，bean的生命周期再调用对象时进行，最后ioc不再执行bean对象的销毁

        init-method: 指定初始化方法
        destroy-method：指定销毁方法
    -->
    <bean id="user" class="asia.xiaoer.spring.domain.User" init-method="init" destroy-method="destroy"  scope="singleton">
        <property name="id" value="1"/>
        <property name="name" value="小王"/>
    </bean>

    <!--配置bean后置处理器-->
    <bean id="myBeanProcessor" class="asia.xiaoer.spring.process.MyBeanProcessor"/>
</beans>