<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="asia.xiaoer.spring.dao.impl.UserDaoImpl"/>

    <!--
        autowire="default"
            为no或default表示不使用自动装配，'
            byType为根据类型自动装配，
            byName为根据id自动装配
    -->
    <bean id="userService" class="asia.xiaoer.spring.service.impl.UserServiceImpl" autowire="byName">
        <!--<property name="userDao" ref="userDao"/>-->
    </bean>

    <bean id="userController" class="asia.xiaoer.spring.controller.UserControllerImpl " autowire="byType">
        <!--<property name="userService" ref="userService"/>-->
    </bean>

</beans>