<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="asia.xiaoer.spring.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="asia.xiaoer.spring.service.impl.UserServiceImpl" autowire="byType">
        <!--<property name="userDao" ref="userDao"/>-->
    </bean>

    <bean class="asia.xiaoer.spring.controller.impl.UserControllerImpl" autowire="byName">
        <!--<property name="userService" ref="userService"/>-->
    </bean>

</beans>