<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.xiaoer.mybatis.mybatis_demo.mappers.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into user values(null,'李四',19,'男')
    </insert>

</mapper>
