<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>首页</h1>
    <a th:href="@{/hello}">@RequestMapping value属性测试</a>
    <br>
    <br>
    <a th:href="@{/abc}">@RequestMapping value属性测试</a>
    <br>
    <br>
    <form th:action="@{/hello}" method="post">
        <input type="submit" value="RequestMapping method 属性测试">
    </form>
    <br>
    <form th:action="@{/hello(user = 'admin')}" method="post">
        <input type="submit" value="RequestMapping param 属性测试">
    </form>
    <br>
    <a th:href="@{/ant/test/hello}">SpringMVC ant风格路径测试</a>
    <br>
    <br>
    <a th:href="@{/log/admin/1234}">SpringMVC 路径中的占位符测试</a>
    <hr>
    <form th:action="@{/param/servletAPI}">
        <input type="text" name="username" />
        <input type="password" name="password"/>
        <input type="submit" value="servletAPI获取数据测试">
    </form>
    <hr>
    <form th:action="@{/param}">
        <input type="text" name="userName" />
        <input type="password" name="password"/>
        <input type="submit" value="通过参数获取数据测试">
    </form>
    <hr>
    <a th:href="@{/header}">请求头和cookie信息获取测试</a>
</body>
</html>